
/* Forced Left Alignment for Content */
body, #body, #body-inner {
    text-align: left !important;
    margin-left: 0 !important;
    max-width: 100% !important;
}

h1, h2, h3, h4, h5, p, ul, ol, li, table {
    text-align: left !important;
}

#body-inner {
    margin-right: auto !important;
    padding-left: 2rem !important;
}
